<dialog
  (toggle)="onToggle($event)"
  #modalRef
  [id]="modalId()"
  popover
  class="fixed top-1/2 left-1/2 z-50 max-w-md w-full -translate-x-1/2 -translate-y-1/2 p-6 bg-white dark:bg-neutral-900 shadow-sm shadow-gray-200 dark:shadow-black/30 rounded-2xl transition-colors animate-fade-in outline-none"
>
  <button
    class="absolute top-3 right-4 text-xl text-gray-400 hover:text-gray-700 dark:hover:text-gray-200 transition-colors cursor-pointer active:scale-95"
    [attr.popovertarget]="modalId()"
    popovertargetaction="hide"
    aria-label="Close"
    type="button"
  >
    <lucide-icon [name]="xIcon" title="Close"></lucide-icon>
  </button>
  <div class="mt-4 mb-2 flex flex-col items-start">
    <app-item-card
      [repo]="repo()"
      [readonly]="true"
      [compact]="false"
      [clickable]="false"
    ></app-item-card>

    <h3 class="mt-4 mb-2 text-sm font-medium text-gray-600 dark:text-gray-300">
      Rate this repository:
    </h3>
    <app-star-rating
      [value]="displayStars()"
      (rated)="setPendingStars($event)"
    />
  </div>
</dialog>
