<li class="border p-4 m-4 rounded bg-white dark:bg-neutral-800 shadow">
  <div class="flex items-start">
    <img
      [ngSrc]="repo().owner.avatar_url"
      [alt]="repo().owner.login"
      [width]="64"
      [height]="64"
      class="w-16 h-16 rounded border object-cover mr-4 flex-shrink-0"
    />
    <div class="flex-1">
      <button
        type="button"
        [attr.popovertarget]="'repo-modal-' + repo().id"
        class="font-semibold text-lg text-blue-600 bg-transparent p-0 border-0 cursor-pointer underline"
      >
        {{ repo().name }}
      </button>

      <p class="text-sm text-gray-600 dark:text-gray-300 mb-2">
        {{ repo().description }}
      </p>
      <div class="flex items-center gap-3 text-sm mt-1">
        <span class="border rounded px-2 py-0.5 font-medium">
          ⭐ : {{ repo().stargazers_count }}
        </span>
        <span class="border rounded px-2 py-0.5 font-medium">
          🐛 Issues: {{ repo().open_issues_count }}
        </span>
        <span class="ml-2 text-gray-500"> 👤: {{ repo().owner.login }} </span>
      </div>
    </div>
  </div>
</li>
<app-repo-modal [repo]="repo()" [modalId]="'repo-modal-' + repo().id" />
