<li
  id="app-content"
  class="p-4 m-4 rounded-2xl bg-white dark:bg-neutral-800 shadow-sm shadow-gray-200 dark:shadow-black/30 transition-colors duration-150"
>
  <article>
    <div class="flex items-start gap-4">
      <div class="flex-1">
        <app-item-card
          [repo]="repo()"
          [rating]="rating()"
          [readonly]="true"
          [compact]="true"
          [clickable]="true"
          [modalId]="'repo-modal-' + repo().id"
        ></app-item-card>
      </div>
    </div>
  </article>
</li>

<app-repo-modal [repo]="repo()" [modalId]="'repo-modal-' + repo().id" />
