@use "tailwindcss";

::backdrop {
  backdrop-filter: blur(10px);
}

body:has(dialog[open]),
body:has([popover]:popover-open) {
  overflow: hidden;

  #app-content {
    pointer-events: none;
    user-select: none;
  }
}
